Repository maehr/github-template, changes with the labels that .github/labeler.yml gives for each.
All labels: src, docs, docker, github

.github/labeler.yml:

src:
- src/*
- .gitattributes
- .gitignore

docs:
- docs/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE.md
- README.md
- SECURITY.md

docker:
- .dockerignore
- Dockerfile
- docker-compose.yml

github:
- .github/*

Update _config.yml
  docs/_config.yml
Labels: docs

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

favicons added
  README.md
  docs/_layouts/default.html
  docs/android-chrome-192x192.png
  docs/android-chrome-512x512.png
  docs/apple-touch-icon.png
  docs/favicon-16x16.png
  docs/favicon-32x32.png
  docs/favicon.ico
  docs/site.webmanifest
Labels: docs

Security information updated
  README.md
  SECURITY.md
Labels: docs

Update .gitignore
  .gitignore
Labels: src

Fix css hover behaviour
  docs/assets/css/style.scss
Labels: none

switch to vsc
  .gitignore
Labels: src

dotenv fix
  .github/example.env
  README.md
  secrets.example.env
Labels: docs, github

common gitattrs
  .gitattributes
Labels: src

css a hover fix
  docs/assets/css/style.scss
Labels: none

format css
  docs/assets/css/style.scss
Labels: none

Create example.env
  example.env
Labels: none

Update .gitignore
  .gitignore
Labels: src

Delete example.env
  .github/example.env
Labels: github

Update to Contributor Covenant, version 2.0
  CODE_OF_CONDUCT.md
Labels: docs

Code of conduct documentation update
  README.md
Labels: docs

vulnerability template added, templates linted
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/vulnerability_report.md
  .github/pull_request_template.md
Labels: github
